
.icon-api-integration:before { content: '\e800'; } /* '' */
.icon-dashboard:before { content: '\e801'; } /* '' */
.icon-employee:before { content: '\e802'; } /* '' */
.icon-offrer:before { content: '\e803'; } /* '' */
.icon-setting:before { content: '\e804'; } /* '' */
.icon-socialmedia:before { content: '\e805'; } /* '' */
.icon-whats-app:before { content: '\e806'; } /* '' */
.icon-subscription:before { content: '\e807'; } /* '' */
