@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;500&display=swap');
@import url('http://fonts.cdnfonts.com/css/gabriola');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

/*:root{
    --color-business-name: #191d21;
    --color-tag-line: #191d21;

    --color-temp-head: #000;
    --color-temp-text: #000;

    --color-text-color: #000;
    --color-background: #fff;

    --color-image-title1: #191d21;
    --color-image-title2: #191d21;
    --color-image-title3: #191d21;

    --color-icon-website: #191d21;
    --color-icon-location: #191d21;
    --color-icon-whatsapp: #191d21;
    --color-icon-contact: #191d21;

    --color-extra-head: #191d21;
    --color-extra-text: #191d21;
}*/


.template-container{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--color-default-color);
    position: relative;
    width: 100%;
    max-width: 991px;
    margin-bottom: 3rem;
    margin: auto;
    z-index: 1;
    font-weight: 300;
}
.template-main{
    position: relative;
    width: 100%;
    background-position: top center;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 2;
    background-color: var(--color-background);
}

.template-container h1,
.template-container h2,
.template-container h3,
.template-container h4,
.template-container h5,
.template-container h6{
    font-family: 'Gabriola', serif;
}

.template-container .busines-name h1{color: var(--color-business-name);}
.template-container .busines-name p{color: var(--color-tag-line);}
.template-container #tem_heading{color: var(--color-temp-head);}
.template-container #tem_text{color: var(--color-text-color);}
.template-container #tem_image_title_1{color: var(--color-image-title1);}
.template-container #tem_image_title_2{color: var(--color-image-title2);}
.template-container #tem_image_title_3{color: var(--color-image-title3);}
.template-container .bi-telephone::before{color: var(--color-icon-contact);}
.template-container .bi-whatsapp::before{color: var(--color-icon-whatsapp);}
.template-container .bi-geo-alt::before{color: var(--color-icon-location);}
.template-container .bi-globe2::before{color: var(--color-icon-website);}
.template-container #extra_heading_1{color: var(--color-extra-head);}
.template-container #extra_text_1{color: var(--color-extra-text);}



.logo{
    position: relative;
    width: 100px;
    max-width: 100%;
}
.busines-name{
    text-align: center;
}

.hero-banner{
    position: relative;
}
.main_image {
    position: relative;
  }
.main_image img{
    clip-path: polygon(100% 0, 100% 75%, 82% 100%, 0 100%, 0 0%);
   /* border-bottom-right-radius: 160px; */
    position: relative;
    top: -3px;
}
.main_image::before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #283E6B;
    clip-path: polygon(100% 0, 144% 14%, 83% 100%, 82% 100%, 0 2%);
}   
.middle-area{
    text-align: center;
    margin: 40px auto;
    max-width: 850px;
}
.divider{
    position: relative;
    margin: 35px auto;
    height: 1px;
    width: 150px;
    background-color: #000;
    opacity: 0.5;
}

.columns{
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin: auto;
    position: relative;
}
.columns .product-card{
    position: relative;
    width: 100%;
    padding: 10px;
}
.columns .product-card .img-thumb{
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    /*border-radius: 50%;*/
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.columns .product-card::before{
    content: "";
    width: 224px;
    height: 224px;
    position: absolute;
    left: 2px;
    top: 2px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background: #A51B59;
}
.columns:nth-child(2){
   margin-top: 90px;
}
.columns:nth-child(2) {
    transform: scale(1.6);
} 
.columns:nth-child(2) .product-card .img-thumb{
    transform: scale(1.03);
}

.cn-icons-top{
    position: relative;
    
}
.contact-section{
    list-style: none;
    padding-left: 0px;
    position: absolute;
    display: inline-block;
    right: 164px;
    bottom: -36px;
    z-index: 3;
}
.contact-section li{
    display: inline-block;
    margin: 0 4px; 
}
.contact-section li a{
    font-size: 18px;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    text-align: center;
    line-height: 33px;
    background-color: #A51B59;
}
.contact-section li a:hover{
    background-color: #fff;
}
.contact-section li a:hover i::before{
    color: #283E6B;
}

.social-icons{
    position: relative;
    list-style: none;
    padding-left: 0px;
    text-align: center;
}
.social-icons .si-tab{
    display: inline-block;
    margin: 0 8px;
}
.social-icons .si-tab > a{
    display: inline-block;
    text-align: center;
    color: inherit;
}
.social-icons .si-tab > a > i{
    line-height: 37px;
    font-size: 20px;
}
.call-to-action .btn-call-act {
    font-size: 26px;
    padding: 0px 19px;
    background-color: #fff3fb;
    line-height: 1.5;
    color: #a51b59;
    border-radius: 0px;
    border: 3px solid #a51b59;
    font-family: 'Gabriola', serif;
}

@media(max-width:768px){
   
    .contact-section li:first-child, .contact-section li:nth-child(2), .contact-section li:nth-child(3), .contact-section li:nth-child(4){
        position: relative;
        top: 0;
        right: 0;
    }
    .contact-section{
        position: relative;
        right: 0;
        bottom: 0;
        margin-top: 20px;
        text-align: center;
    }
    .cn-icons-top{
        text-align: center;
        
    }
    .middle-area{
        margin: 0px auto;
    }
   
}

@media(min-width:576px) and (max-width:767px){
    .columns .product-card::before {
        width: 140px;
        height: 140px;
        left: 4px;
        top: 4px;
    }
    .columns:nth-child(2) .product-card .img-thumb {
        transform: scale(1.02);
    }  

}

@media(min-width:768px) and (max-width:1024px){
    .columns .product-card::before {
       width: 200px;
        height: 200px;
        left: 4px;
        top: 4px;
    }
    .columns:nth-child(2) .product-card .img-thumb {
        transform: scale(1.02);
    } 
}

@media(max-width:575px){
    .columns:nth-child(2){
       margin-top: auto;
       transform: scale(1);
    }
    .columns:nth-child(2) .product-card, .columns:nth-child(2) .product-card .img-thumb  {
        transform: scale(1);
    } 
    .columns .product-card::before {
        width: 220px;
        height: 220px;
        left: 4px;
        top: 4px;
    }
    .product-card{
        margin-bottom: 15px;
    }
    
    
}
