@import url('https://fonts.googleapis.com/css?family=Noto Serif Display');
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300;400;500&display=swap');*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.template-container{
    font-family: 'Sans-Serif', sans-serif;
    font-size: 15px;
    color: var(--color-default-color);
    position: relative;
    width: 100%;
    max-width: 991px;
    margin-bottom: 3rem;
    margin: auto;
    z-index: 1;
    font-weight: 400;
}
.template-main{
    position: relative;
    width: 100%;
    background-position: top center;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 2;
    background-color: var(--color-background);
}

.template-container h1,
.template-container h2,
.template-container h3,
.template-container h4,
.template-container h5,
.template-container h6{
    font-family: 'Noto Serif Display', sans-serif;
    font-weight: 300;
}

.template-container .busines-name h1{color: var(--color-business-name);}
.template-container .busines-name p{color: var(--color-tag-line);}
.template-container #tem_heading{color: var(--color-temp-head);}
.template-container #tem_text{color: var(--color-text-color);}
.template-container #tem_image_title_1{color: var(--color-image-title1);}
.template-container #tem_image_title_2{color: var(--color-image-title2);}
.template-container #tem_image_title_3{color: var(--color-image-title3);}
.template-container .bi-telephone::before{color: var(--color-icon-contact);}
.template-container .bi-whatsapp::before{color: var(--color-icon-whatsapp);}
.template-container .bi-geo-alt::before{color: var(--color-icon-location);}
.template-container .bi-globe2::before{color: var(--color-icon-website);}
.template-container #extra_heading_1{color: var(--color-extra-head);}
.template-container #extra_text_1{color: var(--color-extra-text);}

.logo{
    position: relative;
    width: 90px;
    max-width: 100%;
}
.main_image {
    transform: skewX(-6deg);
    width: 100%;
    height: 100%;
    position: relative;
    top: 25%;
}
.main_image::before{
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    left: -14px;
    width: 70%;
    height: 70%;
    background-color: #1f1f1f;
    transform: skewX(0deg);
}
.main_image img{
    object-fit: cover;
    transform: skewX(0deg);
    position: relative;
}
.back-poly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 100%;
}
.back{
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ecac4e;
    position: relative;
}
.margin-temp{
    margin-top: 20%;
}
/* .back-poly::before{
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 30%);
    background-color: #ecac4e;
} */
/* .back{
    background-color: #FFF; 
} */

.tmplt-container{
    position: relative;
    width: 800px;
    max-width: 100%;
    margin: auto;
}
.contact-section{
    list-style: none;
    padding-left: 0px;
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    top: 145px;
    z-index: 10;
    padding-bottom: 3px;
    margin-left: -1px;
    right: 0;
}

.contact-section li a{
    font-size: 22px;
    display: inline-block;
    border: 0px;
    text-align: center;
    line-height: 55px;
    transition: all 0.3s ease;
    padding: 2px 20px;
}
.contact-section li a:hover i::before {
    color: #e4aa49;
}
.ex_head {
    margin-top: 180px;
    margin-left: -84px;
}
.ex_head h2 {
    font-size: 3.5rem;
    line-height: 1.2;
}
.img_text{
    margin-top: -39px;
}
.gallerBg {
    background: #000;
}
.columns{
    width: 100%;
    padding: 37px;
}
.product-card::before {
    content: "";
    position: absolute;
    top: -13px;
    right: 0px;
    left: -8px;
    width: 80%;
    height: 80%;
    background-color: #ecac4e;
    clip-path: polygon(12% 0, 100% 0%, 89% 100%, 0% 100%);
}
.product-card{
    position: relative;
    width: 100%;
}
.product-card .img-thumb{
    position: relative;
    width: 100%;
    padding-bottom: 92%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    clip-path: polygon(12% 0, 100% 0%, 89% 100%, 0% 100%);
    border: 2px solid #fff;
}

.hrline1{
    width: 52px;
    height: 5px;
    background-color: #4A362F;
}
.social-icons{
    position: relative;
    list-style: none;
    padding-left: 0px;
}
.social-icons .si-tab{
    display: inline-block;
}
.social-icons .si-tab > a{
    display: inline-block;
    width: 58px;
    height: 35px;
    text-align: center;
    color: #683409;
    transform: scale(1); 
    transition: all 300ms ease;
    color: inherit; 
}
.social-icons .si-tab > a > i{
   line-height: 36px;
    font-size: 25px;
}
.link_domain{
    color: inherit;
}
.link_domain:hover {
    color: inherit;
    text-decoration: none;
}
.img_div{ 
    position: relative;
    width: 100%;
    height: 100%;
}
.call-to-action .btn-call-act {
    font-size: 19px;
    padding: 5px 30px;
    background-color: #000;
    line-height: 1.5;
    color: #ecac4e;
    border-radius: 0px;
    box-shadow: -1px 1px 3px rgb(0 0 0 / 20%);
}
/*.btn-call-act:hover {
    background-color: #ecac4e !important;
    color: #683409;
}*/
@media(max-width:767px){
    .main_image{
        transform: skewX(-6deg);
        width: 80%;
        height: 80%;
        position: relative;
        top: 10%;
        margin: auto;
    }
    .contact-section{
        background-color: #ffffff;
        text-align: center;
        list-style: none;
        position: relative;
        transform: translateY(0%);
        width: 100%;
        display: flex;
        justify-content: center;
        top: 0px;
        padding: 2px 26px;
        border-bottom-right-radius: 0px;
    } 
    .margin-temp {
        margin-top: 0%;
    }
    .ex_head{
        margin-top: 60px;
        margin-left: 0;
    }
     
}
@media (min-width:555px) and (max-width: 767px){
    .img_text {
        margin-top: 40px;
    }
}
@media (max-width:554px) {
    .social-number{
        text-align: center;
        padding-top: 30px;
    }
    .main_image {
        transform: skewX(-6deg);
        width: 90%;
        height: 90%;
        position: relative;
        top: 8%;
        margin: auto;
    }
    .img_div {
        position: relative;
        bottom: 0px;
        width: 100%;
        height: 100%;
    }
    .social-number{
        text-align: center;
        padding-top: 0px;
    }
    .img_text {
        margin-top:9px;
    }
    .ex_head h2 {
        font-size: 34px;
        margin-left: 0px;
    }
    .text h1{
        font-size: 26px;
    }
    /* .back-poly::before{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    } */
    .social-icons .si-tab > a {
        width: 26px;
    }
    .social-icons .si-tab > a > i {
        font-size: 21px;
    }
    .link_domain{
        font-size: 1rem !important;
    }
}