@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.template-container{
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: var(--color-default-color);
    position: relative;
    width: 100%;
    max-width: 991px;
    margin-bottom: 3rem;
    margin: auto;
    z-index: 1;
    font-weight: 300;
}
.template-main{
    position: relative;
    width: 100%;
    background-position: top center;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 2;
    background-color: var(--color-background);
}

.template-container h1,
.template-container h2,
.template-container h3,
.template-container h4,
.template-container h5,
.template-container h6{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.template-container .busines-name h1{color: var(--color-business-name);}
.template-container .busines-name p{color: var(--color-tag-line);}
.template-container #tem_heading{color: var(--color-temp-head);}
.template-container #tem_text{color: var(--color-text-color);}
.template-container #tem_image_title_1{color: var(--color-image-title1);}
.template-container #tem_image_title_2{color: var(--color-image-title2);}
.template-container #tem_image_title_3{color: var(--color-image-title3);}
.template-container .bi-telephone::before{color: var(--color-icon-contact);}
.template-container .bi-whatsapp::before{color: var(--color-icon-whatsapp);}
.template-container .bi-geo-alt::before{color: var(--color-icon-location);}
.template-container .bi-globe2::before{color: var(--color-icon-website);}
.template-container #extra_heading_1{color: var(--color-extra-head);}
.template-container #extra_text_1{color: var(--color-extra-text);}

.inner-wrapper{
    position: relative;
}
.inner-wrapper::before, .inner-wrapper::after{
    content: '';
    position: absolute;
    height: 300px;
}
.inner-wrapper::before{
    background-image: url('half_circle_up.png');
    background-repeat: no-repeat;
    top: 73px;
    right: 0px;
    width: 102px;
}
.inner-wrapper::after{    
    background-image: url('half_circle_down.png');
    background-repeat: no-repeat;
    bottom: 10px;
    left: 0;
    width: 200px;
}



.busines-name{
    text-align: center;
}

.logo{
    position: relative;
    width: 100px;
    max-width: 100%;
    margin: auto;
}
.tmplt-container{
    position: relative;
    width: 694px;
    max-width: 100%;
    margin: auto;
}

.social-icons{
    position: relative;
    list-style: none;
    padding-left: 0px;
}
.social-icons .si-tab{
    display: inline-block;
    margin: 0 2px;
}
.social-icons .si-tab > a{
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 6px;
    color: #ffffff;
    transition: all 300ms ease;
    color: inherit;
}
.social-icons .si-tab > a:hover{
    color: #393535;
}
.social-icons .si-tab > a > i{
    line-height: 37px;
    font-size: 23px;
}

.link_domain{
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}
.link_domain:hover {
    color: inherit;
    text-decoration: none;
}
.main_image img {
    position: relative;
    border-radius: 0px 256px 0px;
    border: 8px solid #FBB040;
}
.main_image img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
}
.columns{
    width: 100%;
    max-width: 200px;
    margin: auto;
    padding: 0px;
}
.product-card{
    position: relative;
    width: 100%;
    margin: 0px auto;
}
.product-card .img-thumb{
    position: relative;
    width: 100%;
    padding-bottom: 90%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    bottom: 0;
    right: 0;
    border-radius: 0px 64px 0px;
    border: 2px solid #fff;
}
.columns:nth-child(1){
    margin-top: -175px;
}
.columns:nth-child(2){
    margin-top: -126px;
}
.contact-section{
    list-style: none;
    padding-left: 0px;
    position: relative;
    justify-content: center;
    margin-bottom: 0px;
}
.contact-section li{
    display: inline-block;
    margin: 0 5px; 
}
.contact-section li a{
    font-size: 27px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: all 200ms ease;
    background: #fff;
}
.footer {
    margin-top: 80px;
    margin-bottom: 10px;
}
.call-to-action .btn-call-act {
    font-size: 19px;
    padding: 5px 30px;
    background-color: #FBB040;
    line-height: 1.5;
    color: #000;
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
    box-shadow: -1px 1px 3px rgb(0 0 0 / 20%);
}
/*.btn-call-act:hover {
    background-color: #fff !important;
    color: #FBB040;
}*/
@media (max-width:575px) {
    .product-card .img-thumb {
        position: relative;
        right: 0;
    }
    .main_image img {
        border-radius: 0px 125px 0px;
    }
    .columns:nth-child(1){
        margin-top: 0px;
    }
    .columns:nth-child(2){
        margin-top: 0px;
    }
    .columns {
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
    }
}