
.icon-make-and-share-2:before { content: '\e800'; } /* '' */
.icon-dashboard:before { content: '\e801'; } /* '' */
.icon-people:before { content: '\e802'; } /* '' */
.icon-make-and-share:before { content: '\e803'; } /* '' */
.icon-settings:before { content: '\e804'; } /* '' */
.icon-socialmedia:before { content: '\e805'; } /* '' */
.icon-whatsapp:before { content: '\e806'; } /* '' */
.icon-payments:before { content: '\e807'; } /* '' */
.icon-instant-challenge-icon:before { content: '\e808'; } /* '' */
.icon-share-challenge-icon:before { content: '\e809'; } /* '' */
.icon-social-post-icon:before { content: '\e80a'; } /* '' */
.icon-personalise-message:before { content: '\e80b'; } /* '' */
.icon-share-and-reward:before { content: '\e80c'; } /* '' */
.icon-api:before { content: '\e80d'; } /* '' */
.icon-messaging-api-icon:before { content: '\e80e'; } /* '' */
.icon-employee:before { content: '\e812'; } /* '' */
.icon-recharge:before { content: '\e813'; } /* '' */
.icon-make-and-share-1:before { content: '\e814'; } /* '' */
.icon-social-post:before { content: '\e81c'; } /* '' */
.icon-reports:before { content: '\e81d'; } /* '' */
.icon-subscription:before { content: '\e81e'; } /* '' */
.icon-design-offer:before { content: '\e81f'; } /* '' */
.icon-contacts:before { content: '\e820'; } /* '' */
.icon-channels:before { content: '\e821'; } /* '' */
.icon-personalised-messaging-icon:before { content: '\e822'; } /* '' */
.icon-articles:before { content: '\e85a'; } /* '' */
.icon-superadmin_blogs:before { content: '\e85b'; } /* '' */
.icon-coupons:before { content: '\e85c'; } /* '' */
.icon-ebook:before { content: '\e85d'; } /* '' */
.icon-location:before { content: '\e85e'; } /* '' */
.icon-web-pages:before { content: '\e85f'; } /* '' */
.icon-payment-gateway:before { content: '\e860'; } /* '' */
.icon-seo-analytics:before { content: '\e861'; } /* '' */
.icon-user-setting:before { content: '\e862'; } /* '' */
.icon-instant-reward:before { content: '\e863'; } /* '' */
