@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/*:root{
    --color-business-name: #191d21;
    --color-tag-line: #191d21;

    --color-temp-head: #FFF;
    --color-temp-text: #FFF;

    --color-text-color: #FFF;

    --color-background: #000;

    --color-image-title1: #191d21;
    --color-image-title2: #191d21;
    --color-image-title3: #191d21;

    --color-icon-website: #191d21;
    --color-icon-location: #191d21;
    --color-icon-whatsapp: #191d21;
    --color-icon-contact: #191d21;

    --color-extra-head: #191d21;
    --color-extra-text: #191d21;
}*/

.template-container h1,
.template-container h2,
.template-container h3,
.template-container h5,
.template-container h6 {
    font-family: 'Poppins', serif;
}

.busines-name h5 {
    color: rgb(66, 17, 0);
    font-weight: bold;
}

.busines-name p {
    color: rgb(66, 17, 0);
    font-weight: bold;
}

.template-container h1 {
    font-family: Great Vibes;
    color: rgb(72, 16, 4);
    font-size: 48px;
    line-height: 35px;
    margin: 0;
}
.template-container h2 {
    font-family: lato;
    color: rgb(179, 30, 0);
    font-weight: bold;
    font-size: 50px;
    margin: 0;
    letter-spacing: 5px;
}

.template-container h3 {
    font-weight: bold;
    letter-spacing: 5px;
}

.template-container h4 {
    line-height: 25px;
    filter: drop-shadow(rgb(73, 49, 44) 1px 1px 1px);
}


/* .template-container h4 {
    font-family: Montserrat;
}
 */


.template-container #tem_heading{
    color: var(--color-temp-head);
}

.template-container #tem_text{
    color: var(--color-text-color);
}

.template-container #tem_image_title_1{
    color: var(--color-image-title1);
}

.template-container #tem_image_title_2{
    color: var(--color-image-title2);
}

.template-container #tem_image_title_3{
    color: var(--color-image-title3);
}

.template-container .bi-telephone::before{
    color: var(--color-icon-contact);
}

.template-container .bi-whatsapp::before{
    color: var(--color-icon-whatsapp);
}

.template-container .bi-geo-alt::before{
    color: var(--color-icon-location);
}

.template-container .bi-globe2::before{
    color: var(--color-icon-website);
}

.template-container #extra_heading_1{
    color: var(--color-extra-head);
}

.template-container #extra_text_1{
    color: var(--color-extra-text);
}
.template-container .busines-name p {
    color: var(--color-tag-line);
}
.template-container .busines-name h5 {
    color: var(--color-business-name);
}

.template-container {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    position: relative;
    width: 100%;
    max-width: 991px;
    margin-bottom: 3rem;
    margin: auto;
    z-index: 1;
    font-weight: 300;
}

.template-main {
    position: relative;
    width: 100%;
    background-position: top center;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.logo{
    width:80px;
    max-width:100%;
}
.bg-grey {
    background-color: rgb(230, 230, 230);
}

.columns {
    width: 100%;
    border: 2px solid orange;
    border-radius: 0px 50px;
}

.col-border {
    padding: 17px;
}

.col-border::before,
.col-border::after {
    border-color: orange;
    content: "";
    display: block;
    height: 135px;
    pointer-events: none;
    position: absolute;
    width: 120px;
}

.col-border::before {
    border-left-style: solid;
    border-top-style: solid;
    top: 0px;
    left: 16px;
}

.col-border::after {
    border-right-style: solid;
    border-bottom-style: solid;
    right: 14px;
    bottom: 48px;
}

.main-banner {
    position: absolute;
    top: 0px;
    right: -9px;
    max-width: 100%;
    height: auto;
}

.img-div {
    position: relative;
    border-radius: 0px 85px;
    padding: 25px;
    width: 355px;
    max-width: 100%;
    height: auto;
    border-radius: 0px 75px;
}

.img-div::before,
.img-div::after {
    border-color: rgb(77, 24, 15);
    content: "";
    display: block;
    height: 150px;
    pointer-events: none;
    position: absolute;
    width: 150px;
}

.img-div::before {
    border-left-style: solid;
    border-top-style: solid;
    top: 7px;
    left: 7px;
}

.img-div::after {
    border-bottom-style: solid;
    border-right-style: solid;
    right: 7px;
    bottom: 9px;
}
.call-to-action .btn-call-act {
    font-size: 17px;
    padding: 5px 30px;
    background-color: #b31e00;
    line-height: 1.5;
    color: #fff;
    box-shadow: -1px 1px 3px rgb(0 0 0 / 20%);
}
/*.btn-call-act:hover {
    background-color: #6f1200 !important;
    color: #fff;
}*/
.product-card {
    position: relative;
    width: 100%;
    padding: 0px
}

.price1 {
    font-size: 19px;
    font-weight: bold;
    padding: 4px 22px;
    color: #fff;
}

.price2 {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    opacity: 0.6;
}

.price2:after {
    position: absolute;
    content: "";
    left: -6px;
    top: 45%;
    right: -6px;
    border-top: 1px solid #000000;
    -webkit-transform: rotate(-17deg);
    -moz-transform: rotate(-17deg);
    -ms-transform: rotate(-17deg);
    -o-transform: rotate(-17deg);
    transform: rotate(-10deg);
}

.priceAmount {
    text-align: center;
}

.social-icons {
    position: relative;
    list-style: none;
    padding-left: 0px;
}

.social-icons .si-tab {
    display: inline-block;
    margin: 0 8px;
}

.social-icons .si-tab>a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    transform: scale(1);
    transition: all 100ms ease;
    color: inherit;
}

.social-icons .si-tab>a>i {
    line-height: 32px;
    font-size: 25px;
    color: rgb(66, 17, 0);
}

.contact-section {
    list-style: none;
    padding-left: 0px;
    position: relative;
    justify-content: center;
    text-align: end;
}

.contact-section li {
    display: inline-block;
    margin: 0 9px;
}

.contact-section li a {
    font-size: 20px;
    display: inline-block;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    color: #fff;
    background-color: rgb(179, 30, 0);
    transition: all 200ms ease;
}

.footer {
    background-color: rgb(230, 230, 230);
}

.head_img {
    width: 70px;
}

.banner_img {
    position: relative;
    margin: 10px 0px;
    max-width: 100%;
    padding-bottom: 25%;
}

.banner_img1 {
    width: 500px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(5px 10px 15px rgb(180, 152, 152));
}

.banner_img2 {
    position: absolute;
    top: -77px;
    right: 105px;
}

.banner_width {
    width: 90px;
}

.banner_text {
    position: relative;
    top: 67px;
    left: 30px;
}

.offer {
    line-height: 0px;
}

.offer_text {
    position: relative;
    bottom: -9px;
    left: -60px;
    font-family: 'Lato';
    font-size: 13px;
}

.offer_line1 {
    border: 0px solid;
    height: 3px;
    width: 180px;
    margin-bottom: 6px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(227, 135, 22), rgba(255, 255, 255, 0));
}

.offer_line2 {
    border: 0px solid;
    height: 3px;
    width: 100px;
    margin-top: 0px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(179, 30, 0), rgba(255, 255, 255, 0));
}

.img-thumb {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 50px 0px 0px;
}

.discount {
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    left: 18px;
    color: #fff;
    font-weight: bold;
    font-family: Montserrat;
}

.discount p {
    line-height: 14px;
}

.title_bg{
    background-color: #B51E00;
    border-radius: 0 0 0 50px;
}

@media(max-width:991px) {
    .banner_text {
        top: 61px;
        left: 30px;
    }
    .offer h1 {
        font-size: 40px;
        line-height: 20px;
    }
    .offer h2 {
        font-size: 45px;
        line-height: 60px;
    }
    .offer_text {
        bottom: -2px;
        left: -50px;
        font-size: 12px;
    }
    .banner_img2 {
        top: -74px;
        right: 80px;
    }
    .discount {
        top: 45px;
        left: 15px;
    }
    .banner_width {
        width: 80px;
    }
}

@media (max-width:767px) {
    .contactDiv {
        position: relative;
        left: 0;
    }
    .contact-section li {
        margin: 0px 7px;
    }
    .social-icons .si-tab>a>i {
        font-size: 20px;
    }
    .social-icons .si-tab {
        margin: 0px 0px;
    }
    .banner_text {
        top: 54px;
        left: 22px;
    }
    .banner_img2 {
        top: -53px;
        right: 55px;
    }
    .banner_width {
        width: 55px;
    }
    
    .discount {
        top: 34px;
        left: 11px;
    }
    .discount h4 {
        font-size: 16px;
        line-height: 15px;
    }
    .discount p {
        font-size: 10px;
    }
    .offer h1 {
        font-size: 29px;
        line-height: 10px;
    }
    .offer h2 {
        font-size: 34px;
        line-height: 45px;
    }
    .offer_text {
        bottom: 0px;
        left: -36px;
        font-size: 9px;
    }
}

@media (min-width:620px) and (max-width: 766px) {
    .textW {
        width: 489px;
    }
}

@media (max-width:576px) {
    .contact-section {
        list-style: none;
        padding-left: 0px;
        position: relative;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .logo {
        text-align: center;
        margin: auto;
    }
    .template-container .busines-name h5 {
        line-height: 8px;
    }
    .main-banner {
        position: relative;
        text-align: -webkit-center;
        padding-right: 20px;
    }
    .discount {
        top: 52px;
        left: 18px;
    }
    .discount h4 {
        font-size: 24px;
        line-height: 15px;
    }
    .discount p {
        line-height: 10px;
        font-size: 16px;
    }
    .banner_width {
        width: 85px;
    }
    .banner_text {
        position: relative;
        top: 62px;
        left: 12px;
    }
    .banner_img2 {
        top: -68px;
        right: 76px;
    }
    .offer h1 {
        font-size: 38px;
        line-height: 35px;
    }
    .offer h2 {
        font-size: 46px;
    }
    .offer_text {
        bottom: -9px;
        left: -49px;
        font-size: 11px;
    }
}

@media (max-width:425px) {
    .banner_width {
        width: 50px;
    }
    .banner_img2 {
        top: -50px;
        right: 60px;
    }
    .discount {
        top: 31px;
        left: 11px;
    }
    .discount h4 {
        font-size: 12px;
        line-height: 6px;
    }
    .discount p {
        font-size: 8px;
    }
    .offer h1 {
        font-size: 30px;
        line-height: 15px;
    }
    .offer h2 {
        font-size: 35px;
    }
    .offer_text {
        bottom: -3px;
        left: -37px;
        font-size: 9px;
    }
    .banner_text {
        position: relative;
        top: 50px;
        left: 20px;
    }
}

@media (max-width:360px) {
    .contact-section li {
        margin: 0px 4px;
    }
    .main_image {
        border-radius: 0px 65px;
    }
    .banner_img2 {
        top: -46px;
        right: 46px;
    }
    .banner_width {
        width: 40px;
    }
    .discount {
        top: 28px;
        left: 8px;
    }
    .banner_text {
        top: 48px;
        left: 15px;
    }
    .offer h1 {
        font-size: 20px;
        line-height: 9px;
    }
    .offer h2 {
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 5px;
    }
    .offer_line1 {
        height: 2px;
        width: 110px;
        margin-bottom: 3px;
    }
    .offer_text {
        bottom: -2px;
        left: -25px;
        font-size: 6px;
    }
    .offer_line2 {
        height: 2px;
        width: 70px;
        margin-top: 0px;
    }
    .headtxt h3 {
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 30px;
    }
}